body {
    font-family: "Noto Sans Thai", sans-serif;
    font-style: normal;
    background-color: #E5E3D4;
}

h1:hover {
    color: #859F3D;
    background-color: #000000;
}

h1 {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
    background-color: #859F3D;
    font-family: Arial;
    padding: 10px;
    display: inline-block;
}

.class-p {
    color: green;
}

#Firstname, #Lastname, #Date, #Date, #Address{
    color: rgb(0, 0, 0);  
    background-color: #ffffff;

}
#Firstname:hover, #Lastname:hover, #Date:hover, #Age:hover, #Address:hover{
    color: rgb(255, 255, 255); 
    background-color: #000000;

}